<% provide(:title, "About") %>
<h1>About</h1> 
<p>
   I am a Product Owner with web development skills, specializing in technologies like Ruby on Rails. 
   I am committed to continuous growth and ongoing learning. Rails.
    This is the sample app for the tutorial.
</p>

